<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="APIKey" value="APIkey"/>
    <add key="Password" value="password"/>
    <add key="Username" value="username"/>
    <add key="RedirectURL" value="http://constantcontact.com"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
