<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="APIKey" value="APIkey"/>
    <add key="ConsumerSecret" value="ConsumerSecret"/>
    <add key="Password" value="password"/>
    <add key="Username" value="username"/>
    <add key="RedirectURL" value="http://constantcontact.com"/>
  </appSettings>
</configuration>