<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CTCT.Settings.ActivitiesColumns" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CTCT.Settings.Login" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CTCT.Settings.Endpoints" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="APIKey" value="APIkey" />
    <add key="RedirectURL" value="http://www.constantcontact.com/index.jsp" />
    <add key="ClientSecret" value="API_key_secret" />
  </appSettings>
  <applicationSettings>
    <CTCT.Settings.ActivitiesColumns>
      <setting name="Email" serializeAs="String">
        <value>EMAIL</value>
      </setting>
      <setting name="FirstName" serializeAs="String">
        <value>FIRST NAME</value>
      </setting>
      <setting name="MiddleName" serializeAs="String">
        <value>MIDDLE NAME</value>
      </setting>
      <setting name="LastName" serializeAs="String">
        <value>LAST NAME</value>
      </setting>
      <setting name="JobTitle" serializeAs="String">
        <value>JOB TITLE</value>
      </setting>
      <setting name="CompanyName" serializeAs="String">
        <value>COMPANY NAME</value>
      </setting>
      <setting name="WorkPhone" serializeAs="String">
        <value>WORK PHONE</value>
      </setting>
      <setting name="HomePhone" serializeAs="String">
        <value>HOME PHONE</value>
      </setting>
      <setting name="Address1" serializeAs="String">
        <value>ADDRESS LINE 1</value>
      </setting>
      <setting name="Address2" serializeAs="String">
        <value>ADDRESS LINE 2</value>
      </setting>
      <setting name="Address3" serializeAs="String">
        <value>ADDRESS LINE 3</value>
      </setting>
      <setting name="City" serializeAs="String">
        <value>CITY</value>
      </setting>
      <setting name="State" serializeAs="String">
        <value>STATE</value>
      </setting>
      <setting name="StateProvince" serializeAs="String">
        <value>US STATE/CA PROVINCE</value>
      </setting>
      <setting name="Country" serializeAs="String">
        <value>COUNTRY</value>
      </setting>
      <setting name="PostalCode" serializeAs="String">
        <value>ZIP/POSTAL CODE</value>
      </setting>
      <setting name="SubPostalCode" serializeAs="String">
        <value>SUB ZIP/POSTAL CODE</value>
      </setting>
      <setting name="CustomField1" serializeAs="String">
        <value>CUSTOM FIELD 1</value>
      </setting>
      <setting name="CustomField2" serializeAs="String">
        <value>CUSTOM FIELD 2</value>
      </setting>
      <setting name="CustomField3" serializeAs="String">
        <value>CUSTOM FIELD 3</value>
      </setting>
      <setting name="CustomField4" serializeAs="String">
        <value>CUSTOM FIELD 4</value>
      </setting>
      <setting name="CustomField5" serializeAs="String">
        <value>CUSTOM FIELD 5</value>
      </setting>
      <setting name="CustomField6" serializeAs="String">
        <value>CUSTOM FIELD 6</value>
      </setting>
      <setting name="CustomField7" serializeAs="String">
        <value>CUSTOM FIELD 7</value>
      </setting>
      <setting name="CustomField8" serializeAs="String">
        <value>CUSTOM FIELD 8</value>
      </setting>
      <setting name="CustomField9" serializeAs="String">
        <value>CUSTOM FIELD 9</value>
      </setting>
      <setting name="CustomField10" serializeAs="String">
        <value>CUSTOM FIELD 10</value>
      </setting>
      <setting name="CustomField11" serializeAs="String">
        <value>CUSTOM FIELD 11</value>
      </setting>
      <setting name="CustomField12" serializeAs="String">
        <value>CUSTOM FIELD 12</value>
      </setting>
      <setting name="CustomField13" serializeAs="String">
        <value>CUSTOM FIELD 13</value>
      </setting>
      <setting name="CustomField14" serializeAs="String">
        <value>CUSTOM FIELD 14</value>
      </setting>
      <setting name="CustomField15" serializeAs="String">
        <value>CUSTOM FIELD 15</value>
      </setting>
    </CTCT.Settings.ActivitiesColumns>
    <CTCT.Settings.Login>
      <setting name="BaseUrl" serializeAs="String">
        <value>https://login.constantcontact.com/login/</value>
      </setting>
      <setting name="LoginEndpoint" serializeAs="String">
        <value>oauth/login</value>
      </setting>
      <setting name="Host" serializeAs="String">
        <value>login.constantcontact.com</value>
      </setting>
    </CTCT.Settings.Login>
    <CTCT.Settings.Endpoints>
      <setting name="BaseUrl" serializeAs="String">
        <value>https://api.constantcontact.com/v2/</value>
      </setting>
      <setting name="Activity" serializeAs="String">
        <value>activities/{0}</value>
      </setting>
      <setting name="Activities" serializeAs="String">
        <value>activities</value>
      </setting>
      <setting name="ExportContactsActivity" serializeAs="String">
        <value>activities/exportcontacts</value>
      </setting>
      <setting name="ClearListsActivity" serializeAs="String">
        <value>activities/clearlists</value>
      </setting>
      <setting name="RemoveFromListsActivity" serializeAs="String">
        <value>activities/removefromlists</value>
      </setting>
      <setting name="AddContactsActivity" serializeAs="String">
        <value>activities/addcontacts</value>
      </setting>
      <setting name="Contact" serializeAs="String">
        <value>contacts/{0}</value>
      </setting>
      <setting name="Contacts" serializeAs="String">
        <value>contacts</value>
      </setting>
      <setting name="Lists" serializeAs="String">
        <value>lists</value>
      </setting>
      <setting name="List" serializeAs="String">
        <value>lists/{0}</value>
      </setting>
      <setting name="ListContacts" serializeAs="String">
        <value>lists/{0}/contacts</value>
      </setting>
      <setting name="ContactLists" serializeAs="String">
        <value>contacts/{0}/lists</value>
      </setting>
      <setting name="ContactList" serializeAs="String">
        <value>contacts/{0}/lists/{1}</value>
      </setting>
      <setting name="Campaigns" serializeAs="String">
        <value>emailmarketing/campaigns</value>
      </setting>
      <setting name="Campaign" serializeAs="String">
        <value>emailmarketing/campaigns/{0}</value>
      </setting>
      <setting name="CampaignSchedules" serializeAs="String">
        <value>emailmarketing/campaigns/{0}/schedules</value>
      </setting>
      <setting name="CampaignSchedule" serializeAs="String">
        <value>emailmarketing/campaigns/{0}/schedules/{1}</value>
      </setting>
      <setting name="CampaignTestSends" serializeAs="String">
        <value>emailmarketing/campaigns/{0}/tests</value>
      </setting>
      <setting name="CampaignTrackingSummary" serializeAs="String">
        <value>emailmarketing/campaigns/{0}/tracking/reports/summary</value>
      </setting>
      <setting name="CampaignTrackingBounces" serializeAs="String">
        <value>emailmarketing/campaigns/{0}/tracking/bounces</value>
      </setting>
      <setting name="CampaignTrackingClicks" serializeAs="String">
        <value>emailmarketing/campaigns/{0}/tracking/clicks</value>
      </setting>
      <setting name="CampaignTrackingClicksForLink" serializeAs="String">
        <value>emailmarketing/campaigns/{0}/tracking/clicks/{1}</value>
      </setting>
      <setting name="CampaignTrackingForwards" serializeAs="String">
        <value>emailmarketing/campaigns/{0}/tracking/forwards</value>
      </setting>
      <setting name="CampaignTrackingOpens" serializeAs="String">
        <value>emailmarketing/campaigns/{0}/tracking/opens</value>
      </setting>
      <setting name="CampaignTrackingSends" serializeAs="String">
        <value>emailmarketing/campaigns/{0}/tracking/sends</value>
      </setting>
      <setting name="CampaignTrackingUnsubscribes" serializeAs="String">
        <value>emailmarketing/campaigns/{0}/tracking/unsubscribes</value>
      </setting>
      <setting name="CampaignTrackingLink" serializeAs="String">
        <value>emailmarketing/campaigns/{0}/tracking/clicks/{1}</value>
      </setting>
      <setting name="ContactTrackingActivities" serializeAs="String">
        <value>contacts/{0}/tracking</value>
      </setting>
      <setting name="ContactTrackingEmailCampaignActivities" serializeAs="String">
        <value>contacts/{0}/tracking/reports/summaryByCampaign</value>
      </setting>
      <setting name="ContactTrackingSummary" serializeAs="String">
        <value>contacts/{0}/tracking/reports/summary</value>
      </setting>
      <setting name="ContactTrackingBounces" serializeAs="String">
        <value>contacts/{0}/tracking/bounces</value>
      </setting>
      <setting name="ContactTrackingClicks" serializeAs="String">
        <value>contacts/{0}/tracking/clicks</value>
      </setting>
      <setting name="ContactTrackingForwards" serializeAs="String">
        <value>contacts/{0}/tracking/forwards</value>
      </setting>
      <setting name="ContactTrackingOpens" serializeAs="String">
        <value>contacts/{0}/tracking/opens</value>
      </setting>
      <setting name="ContactTrackingSends" serializeAs="String">
        <value>contacts/{0}/tracking/sends</value>
      </setting>
      <setting name="ContactTrackingUnsubscribes" serializeAs="String">
        <value>contacts/{0}/tracking/unsubscribes</value>
      </setting>
      <setting name="ContactTrackingLink" serializeAs="String">
        <value>contacts/{0}/tracking/clicks/{1}</value>
      </setting>
      <setting name="AccountVerifiedEmailAddressess" serializeAs="String">
        <value>account/verifiedemailaddresses</value>
      </setting>
      <setting name="AccountSummaryInformation" serializeAs="String">
        <value>account/info</value>
      </setting>
      <setting name="MyLibraryInfo" serializeAs="String">
        <value>library/info</value>
      </setting>
      <setting name="MyLibraryFolders" serializeAs="String">
        <value>library/folders</value>
      </setting>
      <setting name="MyLibraryFolder" serializeAs="String">
        <value>library/folders/{0}</value>
      </setting>
      <setting name="MyLibraryTrash" serializeAs="String">
        <value>library/folders/trash/files</value>
      </setting>
      <setting name="MyLibraryFiles" serializeAs="String">
        <value>library/files</value>
      </setting>
      <setting name="MyLibraryFile" serializeAs="String">
        <value>library/files/{0}</value>
      </setting>
      <setting name="MyLibraryFolderFiles" serializeAs="String">
        <value>library/folders/{0}/files</value>
      </setting>
      <setting name="MyLibraryFileUploadStatus" serializeAs="String">
        <value>library/files/uploadstatus/{0}</value>
      </setting>
      <setting name="EventSpots" serializeAs="String">
        <value>eventspot/events</value>
      </setting>
      <setting name="EventFees" serializeAs="String">
        <value>eventspot/events/{0}/fees/{1}</value>
      </setting>
      <setting name="EventPromocode" serializeAs="String">
        <value>eventspot/events/{0}/promocodes/{1}</value>
      </setting>
      <setting name="EventRegistrant" serializeAs="String">
        <value>eventspot/events/{0}/registrants/{1}</value>
      </setting>
      <setting name="EventItem" serializeAs="String">
        <value>eventspot/events/{0}/items/{1}</value>
      </setting>
      <setting name="ItemAttribute" serializeAs="String">
        <value>eventspot/events/{0}/items/{1}/attributes/{2}</value>
      </setting>
      <setting name="EmailCampaignPreview" serializeAs="String">
        <value>emailmarketing/campaigns/{0}/preview</value>
      </setting>
    </CTCT.Settings.Endpoints>
  </applicationSettings>
</configuration>